# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# env
.env
.env*.local

# debug
npm-debug.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
